:global(img)
  max-width 100%
:global(#footer)
  position fixed
  bottom 0
  left 0
  width 100vw
  height 10rem
  display flex
  justify-content center
  align-content center
  flex-direction row

:global(#main)
  width 100%

:global(#router_view)
  margin-right 340px

:global(#sidebar)
  position fixed
  top 0
  right 0
  bottom 0
  z-index 6
  width 340px
  min-height 100%
  background #fff
  border-left 1px solid #eee

    
@media screen and (max-width 720px)
  :global(#router_view)
    margin-right 0

  :global(#sidebar)
    position relative
