.sidebar
  &>*
    width 100%
  .header
    pass
  .footer
    position absolute
    bottom 0
    display flex
    flex-direction row
    align-content  center
    justify-content center
  .content
    .menu_btn
      outline none
      display block
      width 300px
      max-width 300px
      margin 20px auto
      background #fff
      border 2px solid #eee
      padding 10px 20px
      font-size 18px
      font-weight 500
