.h::before
  //content: "# "
  color: #009688
  font-weight: 700
  padding: 0 3px
  left: -1.2em

h1
  font-size: 1.5rem
  text-align: center

h2
  font-size: 1.3rem

h3
  font-size: 1.2rem

h4
  font-size: 1.1rem
h5, h6
  font-size: 1rem

body
  font-family: "宋体", Serif